@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Tahoma, serif;
}

#btnTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btnTop {
    border: solid #1c81c0;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.secao {
    padding: 30px;
    text-align: center;
}

p {
    margin: 10px auto;
    padding: 60px;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.secao-titulo {
    background-color: #afddfb;
}

.secao-titulo img {
    width: 80px;
}

.secao-titulo h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
    font-size: 30px;
}

.secao-titulo h2 {
    color: #1c81c0;
    font-weight: normal;
    font-size: 25px;
}

.secao-titulo p {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.parag-links a{
    font-size: 15px;
    color: #1d1d1d;
    border-bottom: 1px solid #1d1d1d;
    text-decoration: none;
    margin: 0 5px;
}

h3 {
    font-size: 25px;
    line-height: 40px;
    margin: 40px;
}

.secao-sobre {
    margin-top: 50px;
    padding-top: 0;
}

.secao-sobre h3 {
    color: #1c81c0;
}

.texto-azul {
    color: #1d80c1;
    font-weight: bold;
}

.secao-login {
    background-color: #afddfb;
}

.secao-login input {
    color: #1d1d1d;
    font-size: 18px;
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

.secao-login button {
    color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #1c81c0;
    border: none;
}

.secao-login h3 {
    color: #1c81c0;
}

.secao-login .redefinir-senha {
    color: #1c81c0;
    margin-bottom: 5px;
    font-size: 15px;
}

.secao-contato h3 {
    color: #1c81c0;
}

.parag-contato {
    margin: 10px auto;
    padding: 60px;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
}

.secao-contato ul {
    text-decoration: none;
    margin: 40px auto;
    width: 100%;
}

.links-contatos {
    width: 100%;
    display: flex;
    margin: 0 20px;
    color: #1c81c0;
}

.links-contatos li {
    margin: 5px;
    text-align: center;
    font-size: 15px;
    background-color: #afddfb;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.contatos-grupo {
    width: 100%;
    text-align: center;
}

.contatos-grupo img{
    width: 20px;
}

.a-cont {
    text-decoration: none;
    color: #1d1d1d;
}

a {
    text-decoration: none;
    color: #1d1d1d;
}

b {
    font-size: 10px;
}

#btnConfSenha {
    color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 10px;
    border-radius: 5px;
    background-color: #1c81c0;
    border: none;
}

.reset-senha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    border: none;
    color: #1c81c0;
    font-size: 15px;
    margin: 0 5px;
}

.reset-senha input {
    color: #1d1d1d;
    font-size: 10px;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
}

.barra_menu {
    display: flex;
    align-items: center;
    background-color: #1c81c0;
    padding: 10px;
}

.logo {
    flex: 0 0 auto;
    margin-right: 10px;
}

.logo img {
    max-height: 50px;
}

.menu_titulo {
    flex: 1;
    text-align: center;
    color: #fff;
}

.links_adm {
    background-color: midnightblue;
    padding: 10px;
}

.links_adm ul{
    list-style: none;
    display: flex;
}

.link-user {
    position: relative;
    margin-right: 20px;
}

.link-user a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
}

.nav {
    display: none;
    position: absolute;
    background-color: #1c81c0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.link-user:hover .nav {
    display: block;
}

.cadastro {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.campCad #status {
    display: block;
    margin-bottom: 8px;
}

.campCad #status {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.btnCad {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.pag-user {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    margin: 100px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}