<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<div class="container">
    <div class="col-12  py-md-5 bd-content">
        <h3 class="bd-title" id="content">Listar estoques</h3>
        <div class="br-pagebody">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools" style="float:left">

                        <a style="margin:5px" class="btn btn-success" th:href="@{/adicionarEstoque}" type="button">Inserir</a>

                    </div>
                </div>
                <div class="bd  bd-gray-300 rounded">
                    <div class="table-responsive">
                        <table class="table mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Código produto</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="estoque : ${estoqueList}">
                                    <td>
                                        <a class="btn btn-primary btn-sm" th:href="@{'/editarEstoque/'+${estoque.id}}">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm button-alert" th:href="@{'/deletarEstoque/'+${estoque.id}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <th scope="row" th:text="${estoque.idProduto.nome}"></th>
                                    <td th:text="${estoque.quantidade}"></td>
                                </tr>
                            </tbody>
                        </table>

                        <button id="relatorio" class="btn btn-primary btn-sm">Baixar Relatório</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script  th:inline="javascript">
    document.getElementById('relatorio').addEventListener('click', function() {
        var rows = /*[[${estoqueList}]]*/""
        var csvContent = "data:text/csv;charset=utf-8,";
        csvContent += "nome produto; quantidade\n"
        for (var key in rows) {
                csvContent += rows[key]['idProduto']['nome'] + ";" + rows[key]['quantidade'] + ';'
            csvContent += "\n";
        }
        var downloadLink = document.createElement('a');


        /*let csvContent = "data:text/csv;charset=utf-8,"
            + rows.map(e => e.join(",")).join("\n");*/
        var encodedUri = encodeURI(csvContent);
        window.open(encodedUri);
    });
</script>

<script th:src="@{script.js}"></script>
</body>
</html>