<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gerenciador de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" th:href="@{pinguim.ico}">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="barra_menu">
    <div class="logo"><img src="../static/logo.png" alt="imagem da logo"></div>
    <div class="menu_titulo"><h2>Gerenciador de Produtos</h2></div>
</div>
<div class="links_adm">
    <ul>
        <li class="link-user">
            <a href="usuarioadmin.html">Home</a>
        </li>
        <li class="link-user">
            <a href="">Usuários</a>

            <div class="nav">
                <a href="cadastroUser.html">Cadastros</a>
                <a href="listarUser.html">Consultas</a>
                <a href="relatorioUser.html">Relatórios</a>
            </div>
        </li>
        <li class="link-user">
            <a href="">Produtos</a>

            <div class="nav">
                <a href="cadastroProd.html">Cadastros</a>
                <a href="listarProd.html">Consultas</a>
                <a href="relatorioProd.html">Relatórios</a>
            </div>
        </li>
        <li class="link-user">
            <a href="">Estoque</a>

            <div class="nav">
                <a href="listarEst.html">Consultas</a>
                <a href="relatorioEst.html">Relatórios</a>
            </div>
        </li>
    </ul>

</div>
<form class="cadastro" action="submit" method="post">
    <label class="nomeProd" for="nome">Nome Completo:</label>
    <input class="nomeProd" type="text" id="nome" name="nome" required>

    <label class="titCad" for="categoria">Categoria:</label>
    <select id="categoria" name="categoria" size="3">
        <option class="optCat" value="adega">Adega</option>
        <option class="optCat" value="cervejeira">Cervejeira</option>
        <option class="optCat" value="freezer">Freezer</option>
        <option class="optCat" value="frigobar">Frigobar</option>
        <option class="optCat" value="geladeira">Geladeira</option>
    </select>

    <label class="titCad" for="email">Modelo:</label>
    <input class="campCad" type="email" id="email" name="email" required>

    <label class="titCad" for="ano">Ano:</label>
    <select id="ano" name="ano">
        <option class="optAno" value="2021">2021</option>
        <option class="optAno" value="2022">2022</option>
        <option class="optAno" value="2023">2023</option>
        <option class="optAno" value="2024">2024</option>
    </select>

    <label class="titCad" for="fabricante">Fabricante:</label>
    <select id="fabricante" name="fabricante" size="3">
        <option class="optFab" value="brastemp">Brastemp</option>
        <option class="optFab" value="britania">Britânia</option>
        <option class="optFab" value="consul">Consul</option>
        <option class="optFab" value="continental">Continental</option>
        <option class="optFab" value="electrolux">Electrolux</option>
        <option class="optFab" value="esmaltec">Esmaltec</option>
        <option class="optFab" value="ge">GE</option>
        <option class="optFab" value="gelopar">Gelopar</option>
        <option class="optFab" value="gorenje">Gorenje</option>
        <option class="optFab" value="invita">Invita</option>
        <option class="optFab" value="klixon">KLIXON</option>
        <option class="optFab" value="lg">LG</option>
        <option class="optFab" value="midea">Midea</option>
        <option class="optFab" value="panasonic">Panasonic</option>
        <option class="optFab" value="philco">Philco</option>
        <option class="optFab" value="samsung">Samsung</option>
        <option class="optFab" value="veltecshop">Valtec Shop</option>
    </select>

    <label class="titCad" for="voltagem">Voltagem:</label>
    <select id="voltagem" name="voltagem">
        <option class="optVol" value="110v">110v</option>
        <option class="optVol" value="220v">220v</option>
    </select>

    <label class="titCad" for="litros">Litros:</label>
    <input class="campCad" type="number" id="litros" name="litros" required>

    <label class="titCad" for="cor">Cor:</label>
    <select id="cor" name="status">
        <option class="optCor" value="branco">Branco</option>
        <option class="optCor" value="preto">Preto</option>
        <option class="optCor" value="inox">Inox</option>
    </select>

    <label class="titCad" for="preco">Valor:</label>
    <span class="input-preco">R$</span>
    <span class="input-preco">0,00</span>
    <input class="form-control" type="text" id="preco" name="preco" required>

    <label class="titCad" for="status">Status:</label>
    <select id="status" name="status">
        <option class="optSta" value="ativo">Ativo</option>
        <option class="optSta" value="inativo">Inativo</option>
    </select>

    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
    </div>

    <button class="btnCad" type="submit">Cadastrar</button>
</form>

</body>
</html>