<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gerenciador de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" th:href="@{pinguim.ico}">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="barra_menu">
    <div class="logo"><img src="../static/logo.png" alt="imagem da logo"></div>
    <div class="menu_titulo"><h2>Gerenciador de Produtos</h2></div>
</div>
<div class="links_adm">
    <ul>
        <li class="link-user">
            <a href="usuarioadmin.html">Home</a>
        </li>
        <li class="link-user">
            <a href="">Usuários</a>

            <div class="nav">
                <a href="cadastroUser.html">Cadastros</a>
                <a href="listarUser.html">Consultas</a>
                <a href="relatorioUser.html">Relatórios</a>
            </div>
        </li>
        <li class="link-user">
            <a href="">Produtos</a>

            <div class="nav">
                <a href="cadastroProd.html">Cadastros</a>
                <a href="listarProd.html">Consultas</a>
                <a href="relatorioProd.html">Relatórios</a>
            </div>
        </li>
        <li class="link-user">
            <a href="">Estoque</a>

            <div class="nav">
                <a href="listarEst.html">Consultas</a>
                <a href="relatorioEst.html">Relatórios</a>
            </div>
        </li>
    </ul>

</div>
<form class="cadastro" action="submit" method="post">
    <label class="titCad" for="nome">Nome Completo:</label>
    <input class="campCad" type="text" id="nome" name="nome" required>

    <label class="titCad" for="setor">Setor:</label>
    <input class="campCad" type="text" id="setor" name="setor" required>

    <label class="titCad" for="email">Email:</label>
    <input class="campCad" type="email" id="email" name="email" required>

    <label class="titCad" for="senha">Senha:</label>
    <input class="campCad" type="password" id="senha" name="senha" required>

    <label class="titCad" for="status">Status:</label>
    <select id="status" name="status">
        <option class="optUserAt" value="ativo">Ativo</option>
        <option class="optUserIn" value="inativo">Inativo</option>
    </select>

    <label class="titCad" for="administrador">É administrador?</label>
    <input class="inpAdm" type="checkbox" id="administrador" name="administrador">

    <button class="btnCad" type="submit">Cadastrar</button>
</form>
</body>
</html>