<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Gerenciador de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" th:href="@{pinguim.ico}">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="barra_menu">
    <div class="logo"><img src="../static/logo.png" alt="imagem da logo"></div>
    <div class="menu_titulo"><h2>Gerenciador de Produtos</h2></div>
</div>


<script src=../static/script.js></script>
</body>
</html>