<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Pinguim - Gerenciador de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" th:href="@{pinguim.ico}">
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
<div class="barra_menu">
    <div class="logo"><img src="../static/logo.png" alt="imagem da logo"></div>
    <div class="menu_titulo"><h2>Gerenciador de Produtos</h2></div>
</div>
    <div class="reset-senha">
        <h2>Redefinir Senha</h2>
        <label for="new-password">Nova Senha:</label><br>
        <input type="password" id="new-password" name="new-password" placeholder="Digite a nova senha"><br>

        <label for="confirm-password">Confirme a Senha:</label><br>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme a nova senha"><br>

        <button id="btnConfSenha" onclick="senhaConfirmada()">Redefinir Senha</button>
    </div>

    <script src=../static/script.js></script>
</body>
</html>