<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{head}"></head>
<body>
<header th:replace="~{header}"></header>
<div class="container">
    <div class="col-12  py-md-5 bd-content">
        <h3 class="bd-title" id="content">Cadastrar produtos</h3>
        <div class="br-pagebody">
            <div class="col-12">
                <div class="col-12 alert" style="display: none;"></div>
                <form class="card card-default"  th:action="@{/inserirProduto}" method="POST"   enctype="multipart/form-data">

                    <div class="card-header">
                        <a style="margin:5px" class="btn btn-default" th:href="@{/listaProduto}" type="button">Listar</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6" id="componente_nome">
                                <div class="form-group form-group-select2 ">
                                     <label>Nome produto</label>
                                    <input class="form-control" name="nome" maxlength="255" value="" required>
                                </div>
                            </div>
                            <div class="col-md-6" id="componente_categoria">
                                <div class="form-group form-group-select2 ">
                                    <label>Categoria</label>
                                    <select id="categoria" class="form-control"  name="categoria" >
                                        <option class="optCat" value="adega">Adega</option>
                                        <option class="optCat" value="cervejeira">Cervejeira</option>
                                        <option class="optCat" value="freezer">Freezer</option>
                                        <option class="optCat" value="frigobar">Frigobar</option>
                                        <option class="optCat" value="geladeira">Geladeira</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="componente_modelo">
                                <div class="form-group form-group-select2 ">
                                    <label>Modelo</label>
                                    <input class="form-control" name="modelo" maxlength="255" value="" required>
                                </div>
                            </div>
                            <div class="col-md-6" id="componente_ano">
                                <div class="form-group form-group-select2 ">
                                    <label>Ano</label>
                                    <input class="form-control" type="number" min="1900" name="ano" max="2099" step="1"  required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="componente_fabricamte">
                                <div class="form-group form-group-select2 ">
                                    <label>Fabricante</label>
                                    <select id="fabricante" class="form-control" name="fabricante" >
                                        <option class="optFab" value="brastemp">Brastemp</option>
                                        <option class="optFab" value="britania">Britânia</option>
                                        <option class="optFab" value="consul">Consul</option>
                                        <option class="optFab" value="continental">Continental</option>
                                        <option class="optFab" value="electrolux">Electrolux</option>
                                        <option class="optFab" value="esmaltec">Esmaltec</option>
                                        <option class="optFab" value="ge">GE</option>
                                        <option class="optFab" value="gelopar">Gelopar</option>
                                        <option class="optFab" value="gorenje">Gorenje</option>
                                        <option class="optFab" value="invita">Invita</option>
                                        <option class="optFab" value="klixon">KLIXON</option>
                                        <option class="optFab" value="lg">LG</option>
                                        <option class="optFab" value="midea">Midea</option>
                                        <option class="optFab" value="panasonic">Panasonic</option>
                                        <option class="optFab" value="philco">Philco</option>
                                        <option class="optFab" value="samsung">Samsung</option>
                                        <option class="optFab" value="veltecshop">Valtec Shop</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" id="componente_voltagem">
                                <div class="form-group form-group-select2 ">
                                    <label>Voltagem</label>
                                    <select id="voltagem" class="form-control" name="voltagem">
                                        <option class="optVol" value="110">110v</option>
                                        <option class="optVol" value="220">220v</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="componente_litros">
                                <div class="form-group form-group-select2 ">
                                    <label>Litros</label>
                                    <input class="form-control" type="number"  name="litros"  step="0.01" required/>
                                </div>
                            </div>
                            <div class="col-md-6" id="componente_cor">
                                <div class="form-group form-group-select2 ">
                                    <label>Cor</label>
                                    <select id="cor" class="form-control" name="cor">
                                        <option class="optCor" value="branco">Branco</option>
                                        <option class="optCor" value="preto">Preto</option>
                                        <option class="optCor" value="inox">Inox</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="componente_preco">
                                <div class="form-group form-group-select2 ">
                                    <label>Preço</label>
                                    <input class="form-control" type="number"  name="preco"  step="0.01" required/>
                                </div>
                            </div>
                            <div class="col-md-6" id="componente_ativo">
                                <div class="form-group form-group-select2 ">
                                    <label>Ativo</label>
                                    <select type="text" class="form-control" name="ativo" placeholder="Ativo">
                                        <option value="0">Não</option><option value="1">Sim</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-center"></div>
                        <button style="margin:5px" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-alert" tabindex="-1" role="dialog" th:if="${mensagem}" th:display="block">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modal-alert-message" th:text="${mensagem}"></p>
            </div>
            <div class="modal-footer">
                <a href="javascript:location.reload();" class="btn btn-primary redirect-button">Entendi</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{script.js}"></script>
</body>
</html>