<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Gerenciador de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" th:href="@{pinguim.ico}">
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<header>

</header>
<div class="container">
    <div class="content">
        <div class="br-pagebody">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools" style="float:left">

                        <a style="margin:5px" class="btn btn-success" th:href="@{/adicionarProduto}" type="button">Inserir</a>

                    </div>
                </div>
                <div class="bd  bd-gray-300 rounded">
                    <div class="table-responsive">
                        <table class="table mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Categoriat</th>
                                    <th scope="col">Modelo</th>
                                    <th scope="col">Ano</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="produto : ${produtoList}">
                                    <th scope="row" th:text="${produto.nome}"></th>
                                    <td th:text="${produto.categoria}"></td>
                                    <td th:text="${produto.modelo}"></td>
                                    <td th:text="${produto.ano}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script th:src="@{script.js}"></script>
</body>
</html>